@charset "UTF-8";

/* header */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.header > .headerContent {
  width: 100%;
  max-width: 71.25rem;
  height: 4.5rem;
  padding: 1.25rem 2rem;
  margin: 0 auto;
}
.header > .headerContent > .headerTitle {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, 0.7);
  cursor: pointer;
}
